@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7mz0lx');
  src:  url('../fonts/icomoon.eot?7mz0lx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7mz0lx') format('truetype'),
    url('../fonts/icomoon.woff?7mz0lx') format('woff'),
    url('../fonts/icomoon.svg?7mz0lx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
}
.icon-banknote:before {
  content: "\e901";
}
.icon-bulb:before {
  content: "\e902";
}
.icon-cup:before {
  content: "\e903";
  color: #fff;
}
.icon-film:before {
  content: "\e904";
  color: #fff;
}
.icon-handset:before {
  content: "\e905";
  color: #f7f7f7;
}
.icon-lab:before {
  content: "\e906";
  color: #fff;
}
.icon-like:before {
  content: "\e907";
  color: #fff;
}
.icon-lines-menu:before {
  content: "\e908";
}
.icon-next:before {
  content: "\e909";
}
.icon-params:before {
  content: "\e90a";
}
.icon-rectangle-139:before {
  content: "\e90b";
  color: #f39c12;
}
.icon-shape-1:before {
  content: "\e90c";
  color: #fff;
}
.icon-shape-1@2x:before {
  content: "\e90d";
  color: #fff;
}
.icon-slideshow:before {
  content: "\e90e";
  color: #fff;
}
.icon-stack:before {
  content: "\e90f";
  color: #f39c12;
}
.icon-star:before {
  content: "\e910";
}
.icon-user:before {
  content: "\e911";
  color: #fff;
}
.icon-world:before {
  content: "\e912";
}
