body {
  font-family: "Open Sans", Arial, sans-serif;
  color: #737373;
  font-size: 16px;
}
.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 40px;
  min-width: 320px;
  width: 100%;
}
h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 300;
  line-height: 1.3333;
}
h1 .lg {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: -3px;
  display: block;
}
h1 .sm {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: : none;
  padding: 10px 35px;
  margin-top: 90px;
  line-height: 1.3;
}
.btn:hover {
  background-color: #f39c12;
  color: #ffffff;
  text-decoration: none;
  border-color: #f39c12;
}
.btn--warning {
  color: #0d0d0d;
  border-color: #f39c12;
  margin-top: 0;
}
.error {
  border-color: #f44242 !important;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.white-popup h1 {
  color: #f39c12;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  line-height: 30px;
}
.white-popup p {
  margin-bottom: 15px;
}
.white-popup .popup-modal-dismiss {
  margin-top: 20px;
  border: 2px solid #f39c12;
  color: #0d0d0d;
  font-size: 14px;
}
.white-popup .popup-modal-dismiss:hover {
  color: #ffffff;
}
.menu-btn {
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 40px;
  font-weight: 600;
  border: none;
}
.menu-btn:hover {
  color: #f39c12;
}
form .active {
  color: #f39c12;
}
.navigation-bar {
  display: none;
}
.hr {
  border-bottom: 2px solid #e6e6e6;
  margin: 120px 0;
}
header {
  position: absolute;
  top: 94px;
  left: 0;
  right: 0;
  z-index: 99;
}
.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.menu__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 80px;
  text-transform: uppercase;
  color: #ffffff;
}
.menu__link:hover {
  color: #0d0d0d;
}
.menu__item {
  margin-left: 90px;
  position: relative;
}
.menu__item:after {
  content: "\\\\";
  display: block;
  position: absolute;
  left: 100%;
  top: 0px;
  margin-left: 40px;
  font-size: 18px;
  font-weight: 600;
  line-height: 80px;
  color: #ffffff;
}
.menu__item:last-child:after {
  display: none;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner {
  display: block;
  width: 100%;
  background: url("../img/banner.png") no-repeat center top;
  padding-top: 450px;
  padding-bottom: 280px;
  text-align: center;
}
.about-company {
  padding: 100px 0;
}
.about-text {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}
.about-text p {
  flex: 1;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.56;
  text-transform: uppercase;
}
.about-text h2 {
  color: #0d0d0d;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  align-items: center;
  position: relative;
  margin-right: 40px;
  width: 200px;
  text-align: right;
}
.about-text h2:after {
  content: "";
  display: block;
  width: 4px;
  height: 45px;
  background-color: #f39c12;
  position: absolute;
  left: 100%;
  margin-top: -22px;
  margin-left: 19px;
  top: 50%;
}
.story {
  display: flex;
}
.story__info {
  display: flex;
  flex-grow: 1;
}
.story__icon {
  flex-shrink: 0;
  width: 125px;
  height: 125px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f39c12;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 29px;
}
.story__text {
  flex-grow: 1;
}
.story__text h6 {
  color: #0d0d0d;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.story__text p {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.56;
}
.story__text .about-text {
  line-height: 28px;
  color: #e74c3c;
  font-size: 1.4;
  font-weight: 300;
  margin-bottom: 25px;
}
.story__img {
  flex-shrink: 0;
  position: relative;
  margin-left: 60px;
  width: 450px;
  height: 255px;
  background: #f44242;
  background-size: cover;
}
.story__img span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 40px;
  margin-top: -20px;
  margin-left: -20px;
}
.skills:after {
  content: "";
  clear: both;
  display: table;
}
.skills .skills__info {
  display: flex;
}
.skills .skills__info .skills__info-icon {
  flex-shrink: 0;
  width: 125px;
  height: 125px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f39c12;
  background-color: #ffffff;
  border-radius: 50%;
  flex: none;
  margin-right: 29px;
}
.skills .skills__info .skills__info-text {
  flex-grow: 1;
}
.skills .skills__info .skills__info-text h6 {
  color: #0d0d0d;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.skills .skills__info .skills__info-text p {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.56;
}
.skills__content {
  float: left;
  padding-left: 50px;
  width: 50%;
}
.skills__img {
  float: left;
  padding-right: 45px;
  text-align: right;
  width: 50%;
}
.skills__img img {
  display: inline-block;
  max-width: 100%;
}
.box-bars {
  margin-top: 65px;
}
.bars {
  margin-bottom: 40px;
}
.bars .bars-line {
  height: 10px;
  background: #e7e7e7;
}
.bars .bars-line > div {
  height: 10px;
  background: #f49d09;
}
.bars__title {
  font-size: 16px;
  line-height: 1.37;
  text-transform: uppercase;
  color: #0d0d0d;
  font-weight: 600;
  margin-bottom: 10px;
}
.bars__title span {
  color: #bfbfbf;
  font-weight: 600;
}
.bars__title .procent {
  color: #0d0d0d;
  font-weight: 300;
}
.section-bg {
  background: url("../img/quote-bg.png") no-repeat center top;
  background-size: cover;
  display: flex;
  height: 700px;
  align-items: center;
}
.quote {
  text-align: center;
  color: #ffffff;
}
.quote__text {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: 700;
  line-height: 1.33;
  position: relative;
  padding: 0 70px;
}
.quote__text:after,
.quote__text:before {
  content: '"';
  display: block;
  position: absolute;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 110px;
  font-weight: 700;
  line-height: 1.33;
  top: 0;
}
.quote__text:after {
  right: 0;
}
.quote__text:before {
  left: 0;
}
.quote__autor {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 0.83;
  text-transform: uppercase;
}
.quote__autor:before {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #f39c12;
  margin: 0 auto 20px;
}
.team {
  padding: 105px 0 100px;
}
.team-list:after {
  content: '';
  clear: both;
  display: table;
}
.team-list__item {
  display: inline-block;
  float: left;
  width: 25%;
  text-align: center;
  padding: 25px 15px 30px;
  border-top: 4px solid transparent;
}
.team-list__item:hover {
  border-color: #f39c12;
  background: #f0f0f0;
}
.team-list__item:hover .team-list__job:after {
  background-color: #e74c3c;
}
.team-list__item h6 {
  font-size: 20px;
  color: #000;
  line-height: 1.2;
  text-transform: uppercase;
}
.team-list__item p {
  color: #737373;
  font-size: 16px;
}
.team-list__item .social {
  padding-top: 25px;
}
.team-list__item .social__link {
  font-size: 18px;
  color: #999999;
  margin-right: 15px;
}
.team-list__item .social__link:last-child {
  margin-right: 0;
}
.team-list__job {
  color: #999999;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.team-list__job:after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background-color: #cccccc;
  text-align: center;
  margin: 10px auto 15px;
}
.team-list__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 188px;
  height: 188px;
  background-color: #e8f8f4;
  border-radius: 50%;
  border: 6px solid #f2f2f2;
  position: relative;
  margin: 0 auto 25px;
}
.team-list__img:after {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  width: 188px;
  height: 188px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
}
.team-list__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}
.team-list__img span {
  font-size: 62px;
}
.facts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.facts__item .facts__icon span:hover,
.facts__item .facts__icon span:hover:before {
  border-color: #ffffff;
  color: #f39c12;
}
.facts__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.facts__icon span {
  font-size: 32px;
  border: 2px solid #f39c12;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s;
  padding: 60px;
}
.facts__icon span:before {
  color: #ffffff;
  transition: all 0.3s;
}
.facts h5 {
  color: #ffffff;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  line-height: 1;
}
.facts h5 span {
  display: block;
  font-size: 25px;
  line-height: 1.16;
}
.service {
  margin: 115px auto;
}
.service-list:after {
  content: "";
  clear: both;
  display: table;
}
.service-list__item {
  float: left;
  text-align: center;
  width: 33.3333%;
  padding: 0 15px;
}
.service-list__icon {
  margin: 0 auto 30px;
  width: 105px;
  height: 105px;
  border: 2px solid #f39c12;
  border-radius: 50%;
  font-size: 27px;
  transition: 0.3s;
}
.service-list__icon:hover {
  background-color: #f39c12;
}
.service-list__icon:hover span:before {
  color: #ffffff;
}
.service-list__icon span {
  line-height: 105px;
}
.service-list__icon span:before {
  color: #0d0d0d;
}
.service-list h6 {
  margin-bottom: 25px;
  font-size: 20px;
  color: #000;
  line-height: 1.2;
  text-transform: uppercase;
}
.service-list p {
  color: #737373;
  font-weight: 400;
  line-height: 28px;
}
.box-prising {
  display: flex;
}
.box-prising h6 {
  margin-bottom: 25px;
  font-size: 20px;
  color: #000;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
}
.box-prising p {
  color: #737373;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.box-prising .service-list__icon {
  width: 125px;
  height: 125px;
  text-align: left;
  margin-left: 0;
}
.box-prising .service-list__icon span {
  display: block;
  text-align: center;
  font-size: 32px;
  line-height: 3.9;
}
.box-prising .prising {
  display: flex;
  text-align: center;
  margin-left: 5%;
}
.box-prising .prising .prising-header {
  padding: 25px 28px;
}
.box-prising .prising .prising-header__title {
  color: #0d0d0d;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.box-prising .prising .prising-header__title span:before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #f39c12;
  margin: 5px auto;
}
.box-prising .prising .prising-footer {
  padding: 34px 28px;
}
.box-prising .prising .prising-footer .btn {
  height: 38px;
  padding: 9px 33px 0;
}
.box-prising .prising .prising-list {
  list-style: none;
}
.box-prising .prising .prising-list li {
  color: #737373;
  font-size: 15px;
  line-height: 18px;
  border-top: 1px solid #e6e6e6;
  line-height: 50px;
}
.box-prising .prising .prising-list li:last-child {
  border-bottom: 1px solid #e6e6e6;
}
.box-prising .prising .prising-list li:nth-child(odd) {
  background: #fafafa;
}
.box-prising .prising .prising__item {
  border: 1px solid #e6e6e6;
  width: 33.3333%;
}
.box-prising .prising .prising__item:first-child {
  border-right: none;
  margin-top: 17px;
}
.box-prising .prising .prising__item:last-child {
  border-left: none;
  margin-top: 17px;
}
.box-prising .prising .active {
  border-left: none;
  border-right: none;
  border-top: 18px solid #f39c12;
  border-bottom: 18px solid #e6e6e6;
}
.box-prising .prising .active .prising-header {
  background: #f39c12;
}
.box-prising .prising .active .prising-header__title {
  color: #ffffff;
}
.box-prising .prising .active .prising-header__title span:before {
  background: #ffffff;
}
.box-prising .prising .active .prising-footer {
  background: #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
}
.box-prising .prising .active .prising-list li:nth-child(odd) {
  background-color: #e6e6e6;
}
.box-prising .prising .active .prising-list li:nth-child(even) {
  background-color: #fafafa;
}
.testimonial {
  text-align: center;
  color: #ffffff;
}
.testimonial .quote__autor:after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #f39c12;
  margin: 20px auto 0px;
}
.testimonial .quote__autor:before {
  display: none;
}
.testimonial__text {
  display: block;
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.36;
  margin: 35px 0 25px;
}
.testimonial__avatar {
  width: 104px;
  height: 104px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.testimonial__avatar img {
  display: block;
  width: 100%;
}
.portfolio {
  margin: 115px auto 125px;
  text-align: center;
}
.portfolio h6 {
  margin-top: 70px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
}
.portfolio .about-text {
  margin-bottom: 100px;
  text-align: left;
}
.portfolio .slick-slide {
  min-height: 300px;
}
.portfolio .slick-prev,
.portfolio .slick-next {
  border: 2px solid #e6e6e6;
  top: 115%;
  left: 50%;
  padding: 4px;
  box-sizing: content-box;
}
.portfolio .slick-prev {
  margin-left: -35px;
}
.portfolio .slick-next {
  margin-left: 5px;
}
.portfolio .slick-prev:before,
.portfolio .slick-next:before {
  font-family: 'icomoon';
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  color: black;
}
.portfolio .slick-prev:before {
  content: "\e900";
}
.portfolio [dir='rtl'] .slick-prev:before {
  content: "\e900";
}
.portfolio .slick-next:before {
  content: "\e909";
}
.portfolio [dir='rtl'] .slick-next:before {
  content: "\e909";
}
.portfolio .slick-dots {
  width: 10px;
  position: absolute;
  right: 30px;
  bottom: 50%;
  margin-bottom: -26px;
}
.portfolio .slick-dots li {
  width: 20px;
  height: 21px;
}
.portfolio .slick-dots li button {
  font-size: 10px;
  line-height: 10px;
}
.portfolio .slick-dots li button:before {
  color: white;
  font-size: 12px;
}
.portfolio .slider-text {
  color: #999999;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 0 auto;
}
.portfolio .tab-list {
  list-style: none;
  text-align: center;
  margin-bottom: 80px;
}
.portfolio .tab-list__item {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: #0d0d0d;
  font-weight: 700;
  line-height: 1.79;
}
.portfolio .tab-list__item:hover {
  color: #f39c12;
  cursor: pointer;
}
.portfolio .tab-list__item:after {
  content: "//";
  display: inline-block;
  vertical-align: middle;
  color: #a6a6a6;
  margin: 0 18px;
}
.portfolio .tab-list__item:last-child:after {
  content: "";
  display: none;
}
.portfolio .tab-list__link {
  text-transform: uppercase;
  font-size: 14px;
  color: #0d0d0d;
  font-weight: 700;
  line-height: 1.79;
}
.portfolio .tab-list__link:hover {
  color: #f39c12;
  cursor: pointer;
}
.portfolio .tab-list .active {
  color: #f39c12;
}
.portfolio .box-tab .tab-cont {
  opacity: 1;
  transition: opacity 0.4s;
}
.portfolio .box-tab .tab-cont:before {
  content: '';
  clear: both;
  display: table;
}
.portfolio .box-tab .tab-cont:after {
  content: '';
  clear: both;
  display: table;
}
.portfolio .box-tab .tab-cont .hide {
  opacity: 0;
}
.portfolio .box-tab .hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
}
.portfolio .box-tab .portfolio-list__preview {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 98px;
  height: 98px;
  margin-top: -49px;
  margin-left: -49px;
  background-image: url(../img/plus.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(243, 156, 18, 0.5);
  border-radius: 50%;
  display: none;
  z-index: 4;
}
.portfolio .box-tab .portfolio-list__preview:hover {
  background-color: rgba(243, 156, 18, 0.8);
}
.portfolio .box-tab .portfolio-list__preview:hover + .white-space {
  opacity: .4;
}
.portfolio .box-tab .portfolio-list .white-space {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 0.4s;
}
.portfolio .box-tab .portfolio-list__img {
  position: relative;
  height: 220px;
  background-color: #c7c7c7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio .box-tab .portfolio-list img {
  display: block;
  transition: opacity 0.4s;
  overflow: hidden;
  opacity: 1;
}
.portfolio .box-tab .portfolio-list span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -29px;
  margin-left: -29px;
  z-index: 1;
  color: #ffffff;
  font-size: 58px;
}
.portfolio .box-tab .portfolio-list__item {
  float: left;
  width: 25%;
}
.portfolio .box-tab .portfolio-list__item:hover .footer__title {
  color: #f39c12;
}
.portfolio .box-tab .portfolio-list__item:hover .portfolio-list__preview {
  display: block;
}
.portfolio .box-tab .portfolio-list__item:hover [class*="icon"] {
  display: none;
}
.portfolio .box-tab .portfolio-list__item .portfolio-list__footer {
  padding: 20px 20px;
  text-align: center;
}
.portfolio .box-tab .portfolio-list__item .portfolio-list__footer .footer__title {
  color: #0d0d0d;
  font-size: 15px;
  line-height: 1.46;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.portfolio .box-tab .portfolio-list__item .portfolio-list__footer .footer__category {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 400;
}
.portfolio .box-tab .portfolio-list .gray .portfolio-list__img {
  background-color: #b7b7b7;
}
.blog {
  padding: 155px 0;
}
.blog .blog-list:after {
  content: '';
  clear: both;
  display: table;
}
.blog .blog-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 300px;
  background-color: #b7b7b7;
}
.blog .blog-header:hover .blog__title {
  color: #f39c12;
}
.blog .blog-footer {
  display: flex;
  padding-top: 25px;
  width: 100%;
}
.blog__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.blog__item {
  float: left;
  padding: 0 20px;
  margin-bottom: 60px;
  width: 50%;
}
.blog__title {
  display: block;
  padding: 25px 20px 10px;
  background: #ffffff;
  color: #0d0d0d;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}
.blog__info {
  padding: 0 17px 0 40px;
  color: #595959;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8px;
}
.blog__info p {
  padding-bottom: 28px;
  font-weight: 400;
  line-height: 28px;
  color: #737373;
  font-size: 16px;
}
.blog__info .btn {
  font-size: 14px;
}
.blog__icon {
  font-size: 58px;
  margin: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -29px;
  margin-top: -29px;
}
.blog__date {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  text-align: right;
}
.blog__date span {
  display: block;
  white-space: nowrap;
}
.twit {
  text-align: center;
  color: #fff;
}
.twit__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 104px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0 auto;
}
.twit__icon img {
  display: block;
}
.twit__text {
  margin: 35px 0 6px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
}
.twit__text a {
  color: #f39c12;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
}
.twit__text a:hover {
  text-decoration: underline;
}
.twit__time {
  color: #808080;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 2.5;
}
.slider-img {
  display: block;
  width: 100%;
  height: 300px;
  background-size: cover;
}
.form-popup form {
  background-color: white;
}
.form-popup form:after {
  content: '';
  clear: both;
  display: table;
}
.form-popup h1 {
  width: 60%;
  float: left;
  text-align: left;
}
.form-popup .close {
  float: right;
  border: 1px solid #808080;
  border-radius: 50px;
  padding: 3px;
  color: black;
  font-size: 30px;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0;
  line-height: 0.7;
  transform: rotate(45deg);
}
.form-popup label {
  text-align: left;
  margin: 20px auto 15px;
  display: block;
  clear: left;
}
.form-popup .form-col {
  width: 46%;
}
.form-popup .form-col:first-child {
  float: left;
}
.form-popup .form-col:nth-child(2) {
  float: right;
}
.form-popup [type="text"] {
  padding: 10px;
  border: 2px solid #808080;
  width: 100%;
}
.form-popup .form-footer {
  float: left;
  width: 100%;
  text-align: center;
}
.form-popup [type="submit"] {
  margin-top: 50px;
}
/*@media*/
@media screen and (max-width: 1280px) {
  .menu {
    display: flex;
  }
  .menu__item:first-child {
    margin-left: 0px;
  }
  .story {
    display: block;
  }
  .story__img {
    margin-top: 50px;
    margin-left: 155px;
  }
}
@media screen and (max-width: 1200px) {
  .menu {
    display: flex;
  }
  .menu__item {
    margin-left: 40px;
  }
  .menu__item:after {
    margin-left: 12px;
  }
}
@media screen and (max-width: 1000px) {
  header .wrapper {
    padding: 0 15px;
  }
  h1 {
    font-size: 45px;
    font-weight: 300;
    line-height: 60px;
  }
  h1 .lg {
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -3px;
    display: block;
  }
  .story__img {
    margin-left: 150px;
  }
  .skills__img {
    float: none;
    width: 100%;
    display: block;
    margin-bottom: 70px;
    padding: 0 20px;
    text-align: center;
  }
  .skills__content {
    float: none;
    width: 100%;
    display: block;
  }
  .skills__info {
    display: block;
  }
  .skills__info-icon {
    margin-bottom: 30px;
  }
  .team .team-list__item {
    width: 50%;
  }
  .facts__icon {
    width: 130px;
    height: 130px;
  }
  .portfolio .tab-list__item {
    margin-left: 15px;
    margin-right: 15px;
  }
  .portfolio .tab-list__item:after {
    display: none;
  }
  .service .service-list__item {
    float: left;
    width: 50%;
    margin-bottom: 50px;
  }
  .service .service-list__item:last-child {
    margin-bottom: 0;
  }
  .service .box-prising {
    display: block;
  }
  .service .box-prising .service-list__item {
    width: 100%;
  }
  .service .box-prising .prising {
    margin-top: 50px;
    margin-left: 0;
    width: 100%;
  }
  .quote__text {
    font-size: 35px;
    padding: 10px;
  }
  .quote__text:before {
    font-size: 40px;
  }
  .quote__text:after {
    font-size: 40px;
  }
  .quote__autor {
    font-size: 18px;
  }
  .blog__item {
    width: 90%;
  }
}
@media screen and (max-width: 860px) {
  .logo img {
    width: 75%;
  }
  .menu {
    display: flex;
  }
  .menu__item {
    margin-left: 25px;
  }
  .menu__item:first-child {
    margin-left: 0px;
  }
  .menu__item:after {
    margin-left: 5px;
  }
}
@media screen and (min-width: 769px) {
  .navigation {
    display: block !important;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 15px;
  }
  .navigation {
    display: none;
    position: absolute;
    top: 150px;
    width: 95%;
  }
  .navigation .menu {
    list-style: none;
    display: block;
    background: #ffffff;
    text-align: center;
    padding: 15px 0;
  }
  .navigation .menu__link {
    display: block;
    width: 100%;
    color: #000;
    line-height: 50px;
  }
  .navigation .menu__link:hover {
    color: #f49d09;
  }
  .navigation .menu__item {
    height: 50px;
    margin-left: 0;
  }
  .navigation .menu__item:after {
    display: none;
  }
  .navigation-bar {
    display: inline-block;
  }
  header {
    top: 44px;
  }
  header .logo img {
    width: 70%;
  }
  .banner {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  h1 .lg {
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
    display: block;
    letter-spacing: 0;
  }
  h1 .sm {
    font-size: 38px;
    line-height: 50px;
    display: block;
  }
  .team .team-list__item {
    width: 100%;
  }
  .service-list__item {
    width: 100%;
    padding: 0;
  }
  .service-list__item h6 {
    text-align: center;
  }
  .service-list__item p {
    text-align: center;
    width: 70%;
    margin: auto auto;
  }
  .service-list__icon {
    margin: 0 auto 20px !important;
  }
  .facts__icon {
    width: 120px;
    height: 120px;
  }
  .facts__icon span {
    padding: 40px;
  }
  .facts__item {
    margin-bottom: 10px;
  }
  .facts__item h5 {
    font-size: 30px;
  }
  .facts__item h5 span {
    font-size: 18px;
  }
  .quote__text {
    font-size: 25px;
  }
  .quote__text:before {
    font-size: 25px;
  }
  .quote__text:after {
    font-size: 25px;
  }
  .quote__autor {
    font-size: 16px;
  }
  .prising {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  .prising__item {
    width: 70% !important;
    border: 1px solid #e6e6e6 !important;
    margin-top: 10px !important;
  }
  .portfolio {
    padding: 0;
  }
  .portfolio .box-tab .portfolio-list__item {
    width: 33.3333%;
  }
  .about-text h2 {
    width: 70px;
    font-size: 15px;
  }
  .about-text p {
    font-size: 13px;
  }
  .blog__date span {
    display: inline-block;
  }
}
@media screen and (max-width: 632px) {
  .story__img {
    width: 65%;
  }
  .facts {
    justify-content: center;
  }
  .facts__item {
    width: 50%;
  }
  .facts__icon {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
  }
  .facts__icon span {
    padding: 45px;
  }
  .facts h5 {
    font-size: 25px;
    line-height: 0.9;
  }
  .facts h5 span {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  header .wrapper {
    padding: 0 10px;
  }
  .hr {
    margin: 60px 0;
  }
  .banner .btn {
    margin-top: 50px;
  }
  .about-text {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  .about-text h2 {
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 18px;
  }
  .about-text h2:after {
    content: "";
    display: block;
    width: 45px;
    height: 4px;
    background-color: #f39c12;
    position: absolute;
    left: 50%;
    margin-top: 5px;
    margin-left: -22px;
    top: 100%;
  }
  .about-company {
    padding: 0;
  }
  .about-company .story__info {
    display: block;
    text-align: center;
  }
  .about-company .story__icon {
    margin: 0 auto 20px;
  }
  .about-company .story__img {
    margin-left: 0;
  }
  .story__img {
    margin-left: 0px;
    width: 100%;
  }
  .skills__content {
    padding: 0;
  }
  .skills__info {
    display: block !important;
    text-align: center;
  }
  .skills__info-icon {
    margin-right: 0px !important;
    margin: 0 auto 20px !important;
  }
  .section-bg {
    height: 550px;
  }
  .section-bg .quote__text {
    padding: 6px;
  }
  .team {
    padding: 20px 0;
  }
  .team .team-list__img {
    width: 150px;
    height: 150px;
  }
  .team .team-list__img:after {
    width: 150px;
    height: 150px;
  }
  .service {
    margin: 50px 0;
  }
  .service .service-list__item {
    width: 100%;
    padding: 0;
  }
  .service .service-list__item h6 {
    text-align: center;
  }
  .service .service-list__item p {
    text-align: center;
    width: 100%;
  }
  .service .service-list__icon {
    margin: 0 auto 20px;
  }
  .prising__item {
    width: 100% !important;
  }
  .portfolio {
    margin: 0;
  }
  .portfolio .tab-list {
    margin-bottom: 40px;
  }
  .portfolio .tab-list__item {
    line-height: 2;
  }
  .portfolio .portfolio-list__item {
    width: 100% !important;
  }
  .blog {
    padding: 0;
  }
  .blog .blog-footer {
    display: block;
  }
  .blog__date {
    margin-bottom: 20px;
  }
  .blog__item {
    width: 100%;
    padding: 0;
  }
  .blog__info {
    padding: 0;
  }
  .blog__title {
    font-size: 18px;
    line-height: 22px;
  }
  .facts__icon span {
    padding: 25px;
  }
}
