body {
	font-family: "Open Sans", Arial, sans-serif;
	color: #737373;
	font-size: 16px;
}



.wrapper {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 40px;
	min-width: 320px;
	width: 100%;

}

h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 300;
	line-height: 1.3333;
	.lg {
		font-size: 70px;
		font-weight: 700;
		line-height: 1.14;
		letter-spacing: -3px;
		display: block;
	}
	.sm {
		font-size: 40px;
		font-weight: 300;
		line-height: 1.5;
	}
}



.btn {
	display: inline-block;
	vertical-align: middle;
	height: 42px;
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: : none;
	padding: 10px 35px;
	margin-top: 90px;
	line-height: 1.3;

	&:hover {
		background-color: #f39c12;
		color: #ffffff;
		text-decoration: none;
		border-color: #f39c12;
	}
}

.btn--warning {
  color: #0d0d0d;
  border-color: #f39c12;
  margin-top: 0;
}

.error {
	border-color: #f44242 !important;
}

.white-popup {
	  position: relative;
	  background: #FFF;
	  padding: 20px;
	  width: auto;
	  max-width: 500px;
	  margin: 20px auto;
	  h1 {
	  	color: #f39c12;
	  	font-weight: 600;
	  	font-size: 20px;
	  	text-align: center;
	  	margin-bottom: 15px;
	  	line-height: 30px;
	  }
	  p {
	  	margin-bottom: 15px;
	  }
	  .popup-modal-dismiss {
	  	margin-top: 20px;
	  	border: 2px solid #f39c12;
	  	color:  #0d0d0d;
	  	font-size: 14px;
	  	&:hover {
	  		color: #ffffff;
	  	}
	  }
	}

.menu-btn {
	display: inline-block;
	background-color: transparent;
	color: #ffffff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 40px;
	font-weight: 600;
	border: none;
	&:hover {
		color: #f39c12;
	}
}

form .active{
	color: #f39c12;
}

.navigation-bar {
	display: none;
}

	.hr	{
	border-bottom: 2px solid #e6e6e6;
	margin: 120px 0;
}

header {
	position: absolute;
	top: 94px;
	left: 0;
	right:0;
	z-index: 99;
}

.menu {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	&__link {
		font-size: 18px;
		font-weight: 600;
		line-height: 80px;
		text-transform: uppercase;
		color: #ffffff;
		&:hover {
			color: #0d0d0d;
		}
	}
	&__item {
		margin-left: 90px;
		position: relative;
		&:after {
			content: "\\\\";
			display: block;
			position: absolute;
			left: 100%;
			top: 0px;
			margin-left: 40px;
			font-size: 18px;
			font-weight: 600;
			line-height: 80px;
			color: #ffffff;
		}
		&:last-child:after {
			display: none;
		}
	}
}

.header-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner {
	display: block;
	width: 100%;
	background: url("../img/banner.png") no-repeat center top;
	padding-top: 450px;
	padding-bottom: 280px;
	text-align: center;
}

.about-company {
	padding: 100px 0;
}

.about-text {
	display: flex;
	align-items: center;
	margin-bottom: 150px;
	p {
		flex: 1;
		color: #4d4d4d;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.56;
		text-transform: uppercase;
	}
	h2 {
		color: #0d0d0d;
		font-family: "Open Sans";
		font-size: 30px;
		font-weight: 700;
		line-height: 1.17;
		text-transform: uppercase;
		align-items: center;
		position: relative;
		margin-right: 40px;
		width: 200px;
		text-align: right;
		&:after {
			content: "";
			display: block;
			width: 4px;
			height: 45px;
			background-color: #f39c12;
			position: absolute;
			left:100%;
			margin-top: -22px;
			margin-left: 19px;
			top: 50%;
		}
	}
}

.story {
	display: flex;
	&__info {
		display: flex;
		flex-grow: 1;
	}
	&__icon {
		flex-shrink: 0;
		width: 125px;
		height: 125px;
		font-size: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px solid #f39c12;
		background-color: #ffffff;
		border-radius: 50%;
		margin-right: 29px;
	}
	&__text {
		flex-grow: 1;
		h6 {
			color: #0d0d0d;
			font-size: 20px;
			font-weight: 700;
			line-height: 25px;
			text-transform: uppercase;
			margin-bottom: 29px;
		}
		p {
			color: #737373;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.56;
		}
		.about-text {
			line-height:28px;
			color: #e74c3c;
			font-size: 1.4;
			font-weight: 300;
			margin-bottom: 25px;
		}
	}
	&__img {
		flex-shrink: 0;
		position: relative;
		margin-left: 60px;
		width: 450px;
		height: 255px;
		background: #f44242;
		background-size: cover;
		span {
			display: inline-block;
			position: absolute;
			left: 50%;
			top: 50%;
			font-size: 40px;
			margin-top: -20px;
			margin-left: -20px;
		}
	}
}



.skills {	
	&:after {
		content: "";
		clear: both;
		display: table;
	}
	.skills__info {
		display: flex;
		.skills__info-icon {
			flex-shrink: 0;
			width: 125px;
			height: 125px;
			font-size: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid #f39c12;
			background-color: #ffffff;
			border-radius: 50%;
			flex: none;
			margin-right: 29px;
		}
		.skills__info-text {
			flex-grow: 1;
			h6 {
				color: #0d0d0d;
				font-size: 20px;
				font-weight: 700;
				line-height: 1.25;
				text-transform: uppercase;
				margin-bottom: 29px;
			}
			p {
				color: #737373;
				font-size: 16px;
				font-weight: 400;
				line-height: 1.56;
			}
		}
	}
	&__content {
		float: left;
		padding-left: 50px;
		width: 50%;
	}
	&__img {
		float: left;
		padding-right: 45px;
		text-align: right;
		width: 50%;
		img {
			display: inline-block;
			max-width: 100%;
		}
	}
}
.box-bars {
	margin-top: 65px;
}

.bars {
	margin-bottom: 40px;
	.bars-line {
		height: 10px;
		background: #e7e7e7;
	}

	.bars-line>div {
		height: 10px;
		background: #f49d09;
	}
	&__title {
		font-size: 16px;
		line-height: 1.37;
		text-transform: uppercase;
		color: #0d0d0d;
		font-weight: 600;
		margin-bottom: 10px;
		span {
			color: #bfbfbf;
			font-weight: 600;
		}
		.procent {
				color: #0d0d0d;
				font-weight: 300;
		}
	}
}

.section-bg {
	background: url("../img/quote-bg.png") no-repeat center top;
	background-size: cover;
	display: flex;
	height: 700px;
	align-items: center;
}


.quote {
	text-align: center;
	color: #ffffff;
	&__text {
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 45px;
		font-weight: 700;
		line-height: 1.33;
		position: relative;
		padding: 0 70px;
		&:after, &:before {
			content: '"';
			display: block;
			position: absolute;
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 110px;
			font-weight: 700;
			line-height: 1.33;
			top: 0;
		}
		&:after {
			right: 0;
		}
		&:before {
			left: 0;
		}
	}
	&__autor {
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 24px;
		font-weight: 700;
		line-height: 0.83;
		text-transform: uppercase;
		&:before {
			content: '';
			display: block;
			width: 50px;
			height: 4px;
			background-color: #f39c12;
			margin: 0 auto 20px;
		}
	}
}

.team {
	padding: 105px 0 100px;
}

.team-list {
	&:after {
		content: '';
		clear: both;
		display: table;
	}
	&__item {
		display: inline-block;
		float: left;
		width: 25%; 
		text-align: center;
		padding: 25px 15px 30px;
		border-top: 4px solid transparent;
		&:hover {
			border-color: #f39c12;
			background: #f0f0f0;
			.team-list__job:after {
				background-color: #e74c3c;
			}
		}
		h6 {
			font-size: 20px;
			color: #000;
			line-height: 1.2;
			text-transform: uppercase;
		}
		p {
			color: #737373;
			font-size: 16px;
		}
		.social {
			padding-top: 25px;
			&__link {
				font-size: 18px;
				color: #999999;
				margin-right: 15px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&__job {
		color: #999999;
		font-family: 'Lato', sans-serif;
		font-size: 15px;
		font-weight: 400;
		&:after {
			content: "";
			display: block;
			width: 20px;
			height: 4px;
			background-color: #cccccc;
			text-align: center;	
			margin: 10px auto 15px;
		}
	}
	&__img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 188px;
		height: 188px;
		background-color: #e8f8f4;
		border-radius: 50%;
		border: 6px solid #f2f2f2;
		position: relative;
		margin: 0 auto 25px;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: -6px;
			left: -6px;
			width: 188px;
			height: 188px;
			border-radius: 50%;
			border: 1px solid #e6e6e6;
		}
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			display: block;
		}
		span {
			font-size: 62px;
		}
	}
}

.facts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	&__item {
	}
	&__item .facts__icon span:hover, &__item .facts__icon span:hover:before {
		border-color: #ffffff;
		color: #f39c12;
	}
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
		span {
			font-size: 32px;
			border: 2px solid #f39c12;
			border-radius: 50%;
			color: #ffffff;
			transition: all 0.3s;
			padding: 60px;
			&:before {
				color: #ffffff;
				transition: all 0.3s;
			}
		}
	}
	h5 {
		color: #ffffff;
		font-weight: 700;
		font-size: 45px;
		text-align: center;
		line-height: 1;
		span {
			display: block;
			font-size: 25px;
			line-height: 1.16;
		}
	}
}

.service {
	margin: 115px auto;
}

.service-list {
	&:after {
		content: "";
		clear: both;
		display: table;
	}
	&__item {
		float: left;
		text-align: center;
		width: 33.3333%;
		padding: 0 15px;
	}
	&__icon {
		margin: 0 auto 30px;
		width: 105px;
		height: 105px;
		border: 2px solid #f39c12;
		border-radius: 50%;
		font-size: 27px;
		transition: 0.3s;
		&:hover {
			background-color: #f39c12;
		}
		&:hover span:before {
			color: #ffffff;
		}
		span {
			line-height: 105px;
			&:before {
				color: #0d0d0d;
			}
		}
	}
	h6 {
		margin-bottom: 25px;
		font-size: 20px;
		color: #000;
		line-height: 1.2;
		text-transform: uppercase;

	}
	p {
		color: #737373;
		font-weight: 400;
		line-height: 28px;
	}
}

.box-prising {
	display: flex;
	h6 {
		margin-bottom: 25px;
		font-size: 20px;
		color: #000;
		line-height: 1.2;
		text-transform: uppercase;
		text-align: left;

	}
	p {
		color: #737373;
		font-weight: 400;
		line-height: 28px;
		text-align: left;
	}
	.service-list__icon {
		width: 125px;
		height: 125px;
		text-align: left;
		margin-left: 0;
		span {
			display: block;
			text-align: center;
			font-size: 32px;
			line-height: 3.9;
		}
	}
	.prising {
		display: flex;
		text-align: center;
		margin-left: 5%;
		.prising-header {
			padding: 25px 28px;
			&__title {
			color: #0d0d0d;;
			font-size: 22px;
			font-weight: 700;
			line-height: 1.14;
			text-transform: uppercase;
				span:before {
					content: "";
					display: block;
					width: 50px;
					height: 2px;
					background-color: #f39c12;
					margin: 5px auto;
				}
			}
		}
		.prising-footer {
			padding: 34px 28px;
			.btn {
				height: 38px;
				padding: 9px 33px 0;
			}
		}
		.prising-list {
			list-style: none;
			li {
				color: #737373;
				font-size: 15px;
				line-height: 18px;
				border-top: 1px solid #e6e6e6;
				line-height: 50px;
				&:last-child {
					border-bottom: 1px solid #e6e6e6;
				}
				&:nth-child(odd) {
					background: #fafafa;
				}
			}
		}
		.prising__item {
			border: 1px solid #e6e6e6;
			width: 33.3333%;
			&:first-child {
				border-right: none;
				margin-top: 17px;
			}
			&:last-child {
				border-left: none;
				margin-top: 17px;
			}
		}
		.active {
				border-left: none;
				border-right: none;
				border-top: 18px solid #f39c12;
				border-bottom: 18px solid #e6e6e6;
				.prising-header {
					background: #f39c12;
					&__title {
						color: #ffffff;
						span:before {
							background: #ffffff;
						}
					}
				}
				.prising-footer {
					background: #e6e6e6;
					border-bottom: 2px solid #e6e6e6;
				}
			.prising-list {
				li:nth-child(odd){
					background-color: #e6e6e6;
				}
				li:nth-child(even){
					background-color: #fafafa;
				}
			}
		}
	}
}

.testimonial {
	text-align: center;
	color: #ffffff;
	.quote__autor {
		&:after {
			content: '';
			display: block;
			width: 50px;
			height: 4px;
			background-color: #f39c12;
			margin: 20px auto 0px;
		}
		&:before {
			display: none;
		}
	}
	&__text {
		display: block;
		color: #ffffff;
		font-size: 22px;
		font-weight: 300;
		font-style: italic;
		line-height: 1.36;
		margin: 35px 0 25px;
	}
	&__avatar {
		width: 104px;
		height: 104px;
		display: block;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto;
		img {
			display: block;
			width: 100%;
		}
	}
}

.portfolio {
	margin: 115px auto 125px;
	text-align: center;
	h6 {
		margin-top: 70px;
		color: #0d0d0d;
	    font-size: 16px;
	    font-weight: 700;
	    line-height: 25px;
	    text-transform: uppercase;
	    text-align: center;
	}
	.about-text {
		margin-bottom: 100px;
		text-align: left;
	}
	.slick-slide {
		min-height: 300px;
	}
	.slick-prev,
	.slick-next {
		border: 2px solid #e6e6e6;
		top: 115%;
		left: 50%;
		padding: 4px;
		box-sizing: content-box;
	}
	.slick-prev {
		margin-left: -35px;
	}
	.slick-next {
		margin-left: 5px;
	}
	.slick-prev:before,
	.slick-next:before {
		font-family: 'icomoon';
		font-size: 12px;
		line-height: 1;
		font-weight: bold;
		color: black;
	} 
	.slick-prev:before {
		content: "\e900";
	}
	[dir='rtl'] .slick-prev:before {
		content: "\e900";
	}
	.slick-next:before {
		content: "\e909";
	}
	[dir='rtl'] .slick-next:before {
		content: "\e909";
	}
	.slick-dots  {
		width: 10px;
		position: absolute;
		right: 30px;
		bottom: 50%;
		margin-bottom: -26px;

		li {
			width: 20px;
	  		height: 21px;
	  			button {
		  		font-size: 10px;
		  		line-height: 10px;
		  		&:before {
					color: white;
					font-size: 12px;
		  		}
		  	}
		}	 
	}
	.slider-text {
		color: #999999;
		font-family: 'Lato', sans-serif;
		font-size: 15px;
		font-weight: 400;
		padding: 0 auto;
	}
	.tab-list {
		list-style: none;
		text-align: center;
		margin-bottom: 80px;
		&__item {
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			color: #0d0d0d;
			font-weight: 700;
			line-height: 1.79;
			&:hover {
				color: #f39c12;
				cursor: pointer;
			}
			&:after {
				content: "//";
				display: inline-block;
				vertical-align: middle;
				color: #a6a6a6;
				margin: 0 18px;
			}
			&:last-child:after {
					content: "";
					display: none;
			}
		}	
		&__link {
			text-transform: uppercase;
			font-size: 14px;
			color: #0d0d0d;
			font-weight: 700;
			line-height: 1.79;
			&:hover {
				color: #f39c12;
				cursor: pointer;
			}
		}
		.active {
				color: #f39c12;
		}	
	}
	.box-tab {
		.tab-cont  {
			&:before {
				content: '';
				clear: both;
				display: table;
			}

			&:after {
				content: '';
				clear: both;
				display: table;
			}
			opacity: 1;
			transition: opacity 0.4s;
			.hide {
				opacity: 0;
			}
		}
		.hide {
			position: absolute;
			top:0;
			left: 0;
			width: 0;
			height: 0;
			overflow: hidden;
			z-index: 1;
			opacity: 0;
		}	
		.portfolio-list {
			&__preview {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 98px;
				height: 98px;
				margin-top: -49px;
				margin-left: -49px;
				background-image: url(../img/plus.png);
				background-position: center;
				background-repeat: no-repeat;
				background-color: rgba(243, 156, 18, 0.5);
				border-radius: 50%;
				display: none;
				z-index: 4;
				&:hover {
					background-color: rgba(243, 156, 18, 0.8);
				}
				&:hover + .white-space {
					opacity: .4;
				}
			}
			.white-space {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ffffff;
				opacity: 0;
				transition: opacity 0.4s;
			}
			&__img {
				position: relative;
				height: 220px;
				background-color: #c7c7c7;
				background-position:  center;
				background-size: cover;
				background-repeat: no-repeat;
				}
				img {
					display: block;
					transition: opacity 0.4s;
					overflow: hidden;
					opacity: 1;
				}
				span {
					position: absolute;
					left: 50%;
					top: 50%;
					margin-top: -29px;
					margin-left: -29px;
					z-index: 1;
					color: #ffffff;
					font-size: 58px;
				}
			&__item {
				float: left;
				width: 25%;
				&:hover .footer__title {
					color: #f39c12;
				}
				&:hover .portfolio-list__preview {
					display: block;
				}
				&:hover [class*="icon"] {
					display: none;
				}
				.portfolio-list__footer {
					padding: 20px 20px;
					text-align: center;
					.footer__title {
						color: #0d0d0d;
						font-size: 15px;
						line-height: 1.46;
						font-weight: 700;
						text-transform: uppercase;
						margin-bottom: 4px;
					}
					.footer__category {
						color: #8c8c8c;
						font-size: 14px;
						font-weight: 400;
					}
				}
			}
			.gray {
				.portfolio-list__img {
					background-color: #b7b7b7; 
				}
			}
		}
	}
}

.blog {
	padding: 155px 0;
	.blog-list {
		&:after {
		content:'';
		clear: both;
		display: table;
		}
	}

	.blog-header {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		width: 100%;
		height: 300px;
		background-color: #b7b7b7;
		&:hover .blog__title {
			color: #f39c12;
		}
	}
	.blog-footer {
		display: flex;
		padding-top: 25px;
		width: 100%;
	}
	&__link {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}

	&__item {
		float: left;
		padding: 0 20px;
		margin-bottom: 60px;
		width: 50%;
	}
	&__title {
		display: block;
		padding: 25px 20px 10px;
		background: #ffffff;
		color: #0d0d0d;
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
		text-transform: uppercase;
	}
	&__info {
		padding: 0 17px 0 40px;
		color: #595959;
		font-size: 15px;
		font-weight: 400;
		line-height: 1.8px;
		p {
			padding-bottom: 28px;
			font-weight: 400;
			line-height: 28px;
			color: #737373;
			font-size: 16px;
		}
		.btn {
			font-size: 14px;
		}
	}
	&__icon {
		font-size: 58px;
		margin: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -29px;
		margin-top: -29px;
	}
	&__date {
		color: #808080;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		display: block;
		text-align: right;
		span {
			display: block;
			white-space: nowrap;
		}
	}
}

.twit {
	text-align: center;
	color: #fff;
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 104px;
		height: 104px;
		border: 2px solid #ffffff;
		border-radius: 50%;
		margin: 0 auto;

		img {
			display: block;
		}
	}
	&__text {
		margin: 35px 0 6px;
		color: #ffffff;
		font-size: 22px;
		font-weight: 700;
		line-height: 1.5;
		a {
			color: #f39c12;
			font-size: 22px;
			font-weight: 700;
			line-height: 1.5;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__time {
		color: #808080;
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
		line-height: 2.5;
	}
}

.slider-img {
	display: block;
	width: 100%;
	height: 300px;
	background-size: cover;
}

.form-popup {
	form {
		background-color: white;
		&:after {
			content: '';
			clear: both;
			display:table;	
		}	
	}
	h1 {
		width: 60%;
		float: left;
		text-align: left;
	}
	.close {
		float: right;
		border: 1px solid #808080;
		border-radius: 50px;
		padding: 3px;
		color: black;
		font-size: 30px;
		display: block;
		width: 30px;
		height: 30px;
		text-align: center;
		margin: 0;
		line-height: 0.7;
		transform: rotate(45deg);
	}
	label {
		text-align: left;
		margin: 20px auto 15px;
		display: block;
		clear: left;
	}
	.form-col {
		width: 46%;
		&:first-child {
			float: left;
		}
		&:nth-child(2) {
			float: right;
		}
	}
	[type="text"] {
		padding: 10px;
		border: 2px solid #808080;
		width: 100%;
	}
	.form-footer {
		float: left;
		width: 100%;
		text-align: center;
	}
	[type="submit"] {
		margin-top: 50px;

	}
}

/*@media*/


@media screen and (max-width: 1280px) {
	.menu {
		display: flex;
		&__item {
			&:first-child {
				margin-left: 0px;
			}
		}	
	}
	.story {
		display: block;
		&__img {
			margin-top: 50px;
			margin-left: 155px;
		}
	}	
}

@media screen and (max-width: 1200px) {
	.menu {
		display: flex;
		&__item {
			margin-left: 40px;
			&:after {
				margin-left: 12px;
			}
		}
	}
}	

@media screen and (max-width: 1000px) {
	header  {
		.wrapper {
			padding: 0 15px;
		}
	}
	h1 {
		font-size: 45px;
		font-weight: 300;
		line-height: 60px;
		.lg {
			font-size: 50px;
			font-weight: 700;
			line-height: 80px;
			letter-spacing: -3px;
			display: block;
		}
	}
	.story {
		&__img {

			margin-left: 150px;
		}
	}	
	.skills {
		&__img {
			float: none;
			width: 100%;
			display: block;
			margin-bottom: 70px;
			padding: 0 20px;
			text-align: center;
		}
		&__content {
			float: none;
			width: 100%;
			display: block;
		}
		&__info {
			display: block;
		}
		&__info-icon {
			 margin-bottom: 30px;
			}
	}
	.team {
		.team-list {
			&__item {
				width: 50%;
			}
		}
	}
	.facts {
		&__icon {
			width: 130px;
			height: 130px;
		}
	}
	.portfolio {
		.tab-list {
			&__item {
				margin-left: 15px;
				margin-right: 15px;
				&:after {
					display: none;
				}
			}
		}
	}
	.service {
		.service-list {
			&__item {
				float: left;
				width: 50%;
				margin-bottom: 50px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.box-prising {
			display: block;
			.service-list {
				&__item {
					width: 100%;
				}
			}
			.prising {
				margin-top: 50px;
				margin-left: 0;
				width: 100%;
			}
		}
	}
	.quote {
		&__text {
			font-size: 35px;
			padding: 10px;
			&:before {
				font-size: 40px;
			}
			&:after {
				font-size: 40px;
			}
		}
		&__autor {
			font-size: 18px;
		}
	}
	.blog {
		&__item {
			width: 90%;
		}
	}
}

@media screen and (max-width: 860px) {
	.logo {
		img {
			width: 75%;
		}
	}	
	.menu {
		display: flex;
		&__item {
			margin-left: 25px;
			&:first-child {
				margin-left: 0px;
			}
			&:after {
				margin-left: 5px;
			}
		}	
	}
}		

@media screen and (min-width: 769px) {
	.navigation {	
		display: block !important;
	}
}

@media screen and (max-width: 768px) {
	.wrapper {
		padding: 0 15px;
	}
	.navigation {	
		display: none;
		position: absolute;
		top: 150px;
		width: 95%;
		.menu {
			list-style: none;
			display: block;
			background: #ffffff;
			text-align: center;
			padding: 15px 0;
			&__link {
				display: block;
				width: 100%;
				color: #000;
				line-height: 50px;
				&:hover {
					color: #f49d09;
				}
			}
			&__item {
				height: 50px;
				margin-left: 0;
				&:after {
					display: none;
				}
			}	
		}
	}
	.navigation-bar {
		display: inline-block;
	}

	header  {
		top: 44px;
		.logo {
			img {
				width: 70%;
			}
		}
	}
	.banner {
		padding-top: 200px;
		padding-bottom: 100px;
	}
	h1 {
		.lg {
			font-size: 45px;
			font-weight: 600;
			line-height: 50px;
			display: block;
			letter-spacing: 0;
		}
		.sm {
			font-size: 38px;
			line-height: 50px;
			display: block;
		}
	}
	.team {
		.team-list {
			&__item {
				width: 100%;
			}
		}
	}
	.service-list {
		&__item {
			width: 100%;
			padding: 0;
			h6 {
				text-align: center;
			}
			p {
				text-align: center;
				width: 70%;
				margin: auto auto;
			}
		}
		&__icon {
			margin: 0 auto 20px !important;
		}
	}
	.facts {
		&__icon {
			width: 120px;
			height: 120px;
			span {
				padding: 40px;
			}
		}
		&__item {
			margin-bottom: 10px;
			h5 {
				font-size: 30px;
				span {
					font-size: 18px;
				}
			}
		}
	}
		
	.quote {
		&__text {
			font-size: 25px;
			&:before {
				font-size: 25px;
			}
			&:after {
				font-size: 25px;
			}
		}
		&__autor {
			font-size: 16px;
		}
	}
	.prising {
		display: flex;
		flex-direction: column;
		align-items: center !important;

		&__item {
			width: 70% !important;
			border: 1px solid #e6e6e6 !important;
			margin-top: 10px !important;
		}
	}
	.portfolio {
		padding: 0;
		.box-tab {
			.portfolio-list {
				&__item {
					width: 33.3333%;
				}
			}
		}
	}
	.about-text {
		h2 {
			width: 70px;
			font-size: 15px;
		}
		p {
			font-size: 13px;
		}
	}
	.blog {
		&__date {
			span {
				display: inline-block;
			}
		}
	}
}

@media screen and (max-width: 632px) {
	.story {
		&__img {
			width: 65%;
		}
	}	
	.facts {
		justify-content: center;
		&__item {
			width: 50%;
		}
		&__icon {
			width: 100%;
			margin-top: 15px;
			margin-bottom: 10px;
			text-align: center;
			span {
				padding: 45px;
			}
		}
		h5 {
			font-size: 25px;
			line-height: 0.9;
			span {
				font-size: 16px;
			}
		}
	}		
}

@media screen and (max-width: 480px) {
	header  {
		.wrapper {
			padding: 0 10px;
		}
	}
	.hr {
		margin: 60px 0;
	}
	.banner {
		.btn {
		margin-top: 50px;
		}
	}
	.about-text {
		display: block;
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;
		h2 {
			width: 100%;
			margin-right: 0;
			text-align: center;
			margin-bottom: 15px;
			margin-top: 20px;
			font-size: 18px;
		}
		h2:after {
			content: "";
			display: block;
			width: 45px;
			height: 4px;
			background-color: #f39c12;
			position: absolute;
			left:50%;
			margin-top: 5px;
			margin-left: -22px;
			top: 100%;
		}
	}
	.about-company {
		padding: 0;
		.story__info {
			display: block;
			text-align: center;
		}
		.story__icon {
			margin: 0 auto 20px;
		}
		.story__img {
			margin-left: 0;
		}
	}
	.story {
		&__img {

			margin-left: 0px;
			width: 100%;
		}
	}	
	.skills {
		&__content {
			padding: 0;
		}
		&__info {
			display: block !important;
			text-align: center;
		}
		&__info-icon {
			margin-right: 0px !important;
			margin: 0 auto 20px !important;
		}
	}
	.section-bg {
		height: 550px;
		.quote__text {
			padding: 6px;
		}
	}
	.team {
		padding: 20px 0;
		.team-list {
			&__img {
				width: 150px;
				height: 150px;
				&:after {
					width: 150px;
					height: 150px;
				}
			}
		}
	}
	.service {
		margin: 50px 0;
		.service-list {
			&__item {
				width: 100%;
				padding: 0;
				h6 {
					text-align: center;
				}
				p {
					text-align: center;
					width: 100%;
				}
			}
			&__icon {
				margin: 0 auto 20px;
			}
		}
	}
	.prising {
		&__item {
			width: 100% !important;
		}
	}
	.portfolio {
		margin: 0;
		.tab-list {
			margin-bottom: 40px;
			&__item {
				line-height: 2;
			}
		}
		.portfolio-list {
			&__item {
				width: 100% !important;
			}
		}
	}
	.blog {
		padding: 0;
		.blog-footer {
			display: block;
		}
		&__date {
			margin-bottom: 20px;
		}
		&__item {
			width: 100%;
			padding: 0;
		}
		&__info {
			padding: 0;
		}
		&__title {
			font-size: 18px;
			line-height: 22px;
		}
	}
	.facts {
		&__icon {
			span {
				padding: 25px;
			}
		}
	}
}
